# AWS Configuration
AWS_ACCOUNT_ID=810626480513your_12_digit_account_id
DEFAULT_AWS_REGION=us-east-1

# OpenAI Configuration  
OPENROUTER_API_KEY=sk-or-v1-***

# Project Configuration
PROJECT_NAME=twin

# Bedrock Configuration
BEDROCK_MODEL_ID=us.amazon.nova-****
